@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  width: calc(100vw - 20px);
  max-width: 1440px;
  margin: 0 auto;
} */
/* 
==============
Color Palette BG
===============
*/
.gp-dark {
  @apply bg-[#161722];
}
.gp-brown {
  @apply bg-[#FFD2A4];
}
.gp-cream {
  @apply bg-[#FFF5EB];
}
.gp-light-grey {
  @apply bg-[#F5F2F0];
}
/* 
==============
End of Color Palette BG
===============
*/

/* 
==============
Text Sizing 
===============
*/
.gp-text-h1 {
  @apply text-6xl font-bold leading-[72px] tracking-tight;
}
.gp-text-h2 {
  @apply text-5xl font-bold leading-[64px] tracking-tight;
}
.gp-text-h3 {
  @apply text-4xl font-bold leading-[56px] tracking-tight;
}
.gp-text-h4 {
  @apply text-3xl font-bold leading-10 tracking-tight;
}
.gp-text-h5 {
  @apply text-2xl font-bold leading-7 tracking-tight;
}
.gp-text-h6 {
  @apply text-base font-bold leading-6 tracking-tight;
}
/* 
==============
End of Text Sizing 
===============
*/
#hero{
  background: url(../../public/images/HeroImage.svg) no-repeat;
  background-size: cover;
}
#serve{
  background: url(../../public/images/serveImage.svg) no-repeat;
  background-size: cover;
}
#aboutUs{
  background: url(../../public/images/AbaNigeria.webp) no-repeat;
  background-size:cover ;
  background-position: center;
  width:99vw;
  height:90vh;
  margin: 0 auto;
}
#contact{
  background: url(../../public/images/contactImage.svg) no-repeat;
  background-size: cover;
  width: 99vw;
  height: 483px;
}